<a href="https://colab.research.google.com/github/TanViCh0UhAn12/ML/blob/main/ANN_classi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ANN --Artificial Neural Network**
**Classification**

*1. Importing Libraries*

In [29]:
import seaborn as sns
import pandas as pd
import numpy as np

*2. Reading Dataset*

In [30]:
churn = pd.read_csv('/content/Churn_Modelling.csv')

*3. Analyzing data set*

In [31]:
df = churn
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [34]:
df.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [35]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [36]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [37]:
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

*4. Label Encoding* : - 
In this dataset, no need to do labeling as in y already we have 0 & 1 as a output which is considered as a label itself.

In [38]:
df['Exited'].unique()

array([1, 0])

*5. Defining variables x & y*

In [39]:
x=df.iloc[:,7:13]
y=df['Exited']
x.head(),y.head()

(   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
 0       2       0.00              1          1               1
 1       1   83807.86              1          0               1
 2       8  159660.80              3          1               0
 3       1       0.00              2          0               0
 4       2  125510.82              1          1               1

    EstimatedSalary
 0        101348.88
 1        112542.58
 2        113931.57
 3         93826.63
 4         79084.10  , 0    1
 1    0
 2    1
 3    0
 4    0
 Name: Exited, dtype: int64)

*6. Feature Scaling in x dependent variable*

In [40]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ssx=ss.fit_transform(x)
print(ssx[7:13])
print(pd.DataFrame(ssx).describe())

[[-0.35020386  0.61801895  4.24637668  0.64609167 -1.03067011  0.33485373]
 [-0.35020386  1.05082029  0.80773656 -1.54776799  0.97024255 -0.43732885]
 [-1.04175968  0.93146336 -0.91158349  0.64609167  0.97024255 -0.49323048]
 [ 0.34135195  0.4091854   0.80773656 -1.54776799 -1.03067011 -0.3461997 ]
 [-0.69598177 -1.22584767  0.80773656  0.64609167 -1.03067011 -0.41212332]
 [ 1.72446358 -1.22584767  0.80773656  0.64609167 -1.03067011 -1.28381706]]
                  0             1             2             3             4  \
count  1.000000e+04  1.000000e+04  1.000000e+04  1.000000e+04  1.000000e+04
mean  -1.078249e-16 -6.252776e-17  1.634248e-17 -5.258016e-17 -7.389644e-17
std    1.000050e+00  1.000050e+00  1.000050e+00  1.000050e+00  1.000050e+00
min   -1.733315e+00 -1.225848e+00 -9.115835e-01 -1.547768e+00 -1.030670e+00
25%   -6.959818e-01 -1.225848e+00 -9.115835e-01 -1.547768e+00 -1.030670e+00
50%   -4.425957e-03  3.319639e-01 -9.115835e-01  6.460917e-01  9.702426e-01
75%    6.871299e-01  8.199205e-01  8.077366e-01  6.460917e-01  9.702426e-01
max    1.724464e+00  2.795323e+00  4.246377e+00  6.460917e-01  9.702426e-01

                  5
count  1.000000e+04
mean  -2.877698e-17
std    1.000050e+00
min   -1.740268e+00
25%   -8.535935e-01
50%    1.802807e-03
75%    8.572431e-01
max    1.737200e+00

*7. Label Binarizer*

In [41]:
"""from keras.utils import np_utils
npy=np_utils.to_categorical(y)
print(npy[:5])"""

'from keras.utils import np_utils\nnpy=np_utils.to_categorical(y)\nprint(npy[:5])'

In [42]:
ys=y.squeeze()
pdy=pd.get_dummies(ys).values
print(pdy[:5])

[[0 1]
 [1 0]
 [0 1]
 [1 0]
 [1 0]]

*8. Split data set in train & test*

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ssx,pdy, test_size=.25, random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(7500, 6)
(2500, 6)
(7500, 2)
(2500, 2)

*9. Import libraries & build Neural N/w Model*

In [44]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import Adam
from keras.metrics import categorical_crossentropy

model= Sequential()
model.add(Dense(6, input_shape=(6,), activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [45]:
model.compile (optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [46]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 42

 dense_1 (Dense)             (None, 20)                140

 dense_2 (Dense)             (None, 2)                 42

=================================================================
Total params: 224
Trainable params: 224
Non-trainable params: 0
_________________________________________________________________

In [47]:
model.fit(x_train, y_train, batch_size=7500, epochs=100)

Epoch 1/100
1/1 [==============================] - 1s 911ms/step - loss: 0.7029 - accuracy: 0.4997
Epoch 2/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6984 - accuracy: 0.5097
Epoch 3/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6940 - accuracy: 0.5195
Epoch 4/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6897 - accuracy: 0.5308
Epoch 5/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6855 - accuracy: 0.5433
Epoch 6/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6813 - accuracy: 0.5520
Epoch 7/100
1/1 [==============================] - 0s 21ms/step - loss: 0.6772 - accuracy: 0.5623
Epoch 8/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6732 - accuracy: 0.5747
Epoch 9/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6692 - accuracy: 0.5865
Epoch 10/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6653 - accuracy: 0.5976
Epoch 11/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6614 - accuracy: 0.6051
Epoch 12/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6576 - accuracy: 0.6137
Epoch 13/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6539 - accuracy: 0.6245
Epoch 14/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6502 - accuracy: 0.6317
Epoch 15/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6466 - accuracy: 0.6432
Epoch 16/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6430 - accuracy: 0.6556
Epoch 17/100
1/1 [==============================] - 0s 20ms/step - loss: 0.6395 - accuracy: 0.6688
Epoch 18/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6360 - accuracy: 0.6812
Epoch 19/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6325 - accuracy: 0.6941
Epoch 20/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6292 - accuracy: 0.7072
Epoch 21/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6259 - accuracy: 0.7192
Epoch 22/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6226 - accuracy: 0.7299
Epoch 23/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6194 - accuracy: 0.7395
Epoch 24/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6163 - accuracy: 0.7460
Epoch 25/100
1/1 [==============================] - 0s 15ms/step - loss: 0.6132 - accuracy: 0.7536
Epoch 26/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6101 - accuracy: 0.7588
Epoch 27/100
1/1 [==============================] - 0s 17ms/step - loss: 0.6072 - accuracy: 0.7640
Epoch 28/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6043 - accuracy: 0.7732
Epoch 29/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6014 - accuracy: 0.7783
Epoch 30/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5986 - accuracy: 0.7812
Epoch 31/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5959 - accuracy: 0.7848
Epoch 32/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5932 - accuracy: 0.7883
Epoch 33/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5906 - accuracy: 0.7905
Epoch 34/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5881 - accuracy: 0.7903
Epoch 35/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5856 - accuracy: 0.7916
Epoch 36/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5832 - accuracy: 0.7931
Epoch 37/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5808 - accuracy: 0.7951
Epoch 38/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5785 - accuracy: 0.7953
Epoch 39/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5762 - accuracy: 0.7959
Epoch 40/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5740 - accuracy: 0.7965
Epoch 41/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5718 - accuracy: 0.7975
Epoch 42/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5697 - accuracy: 0.7977
Epoch 43/100
1/1 [==============================] - 0s 19ms/step - loss: 0.5677 - accuracy: 0.7977
Epoch 44/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5657 - accuracy: 0.7977
Epoch 45/100
1/1 [==============================] - 0s 29ms/step - loss: 0.5637 - accuracy: 0.7977
Epoch 46/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5618 - accuracy: 0.7977
Epoch 47/100
1/1 [==============================] - 0s 20ms/step - loss: 0.5600 - accuracy: 0.7977
Epoch 48/100
1/1 [==============================] - 0s 25ms/step - loss: 0.5582 - accuracy: 0.7977
Epoch 49/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5564 - accuracy: 0.7977
Epoch 50/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5547 - accuracy: 0.7977
Epoch 51/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5530 - accuracy: 0.7977
Epoch 52/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5514 - accuracy: 0.7977
Epoch 53/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5498 - accuracy: 0.7977
Epoch 54/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5483 - accuracy: 0.7977
Epoch 55/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5468 - accuracy: 0.7977
Epoch 56/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5454 - accuracy: 0.7977
Epoch 57/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5439 - accuracy: 0.7977
Epoch 58/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5426 - accuracy: 0.7977
Epoch 59/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5412 - accuracy: 0.7977
Epoch 60/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5399 - accuracy: 0.7977
Epoch 61/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5387 - accuracy: 0.7977
Epoch 62/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5375 - accuracy: 0.7977
Epoch 63/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5363 - accuracy: 0.7977
Epoch 64/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5351 - accuracy: 0.7977
Epoch 65/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5340 - accuracy: 0.7977
Epoch 66/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5329 - accuracy: 0.7977
Epoch 67/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5319 - accuracy: 0.7977
Epoch 68/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5309 - accuracy: 0.7977
Epoch 69/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5299 - accuracy: 0.7977
Epoch 70/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5289 - accuracy: 0.7977
Epoch 71/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5280 - accuracy: 0.7977
Epoch 72/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5271 - accuracy: 0.7977
Epoch 73/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5262 - accuracy: 0.7977
Epoch 74/100
1/1 [==============================] - 0s 19ms/step - loss: 0.5254 - accuracy: 0.7977
Epoch 75/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5245 - accuracy: 0.7977
Epoch 76/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5237 - accuracy: 0.7977
Epoch 77/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5229 - accuracy: 0.7977
Epoch 78/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5222 - accuracy: 0.7977
Epoch 79/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5214 - accuracy: 0.7977
Epoch 80/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5207 - accuracy: 0.7977
Epoch 81/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5200 - accuracy: 0.7977
Epoch 82/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5193 - accuracy: 0.7977
Epoch 83/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5186 - accuracy: 0.7977
Epoch 84/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5179 - accuracy: 0.7977
Epoch 85/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5173 - accuracy: 0.7977
Epoch 86/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5166 - accuracy: 0.7977
Epoch 87/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5160 - accuracy: 0.7977
Epoch 88/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5154 - accuracy: 0.7977
Epoch 89/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5148 - accuracy: 0.7977
Epoch 90/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5142 - accuracy: 0.7977
Epoch 91/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5136 - accuracy: 0.7977
Epoch 92/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5131 - accuracy: 0.7977
Epoch 93/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5125 - accuracy: 0.7977
Epoch 94/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5120 - accuracy: 0.7977
Epoch 95/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5114 - accuracy: 0.7977
Epoch 96/100
1/1 [==============================] - 0s 20ms/step - loss: 0.5109 - accuracy: 0.7977
Epoch 97/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5104 - accuracy: 0.7977
Epoch 98/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5098 - accuracy: 0.7977
Epoch 99/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5093 - accuracy: 0.7977
Epoch 100/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5088 - accuracy: 0.7977

*10. Model Prediction*

In [48]:
y_pred1=model.predict(x_test)
y_pred1

79/79 [==============================] - 0s 2ms/step

array([[0.8068375 , 0.1931625 ],
       [0.69121313, 0.30878684],
       [0.7722404 , 0.2277595 ],
       ...,
       [0.8765593 , 0.12344068],
       [0.719387  , 0.28061298],
       [0.8573902 , 0.14260979]], dtype=float32)

In [49]:
y_test_class = np.argmax(y_test, axis=1)
y_pred1_class= np.argmax(y_pred1, axis=1)
y_pred1_class, y_test_class

(array([0, 0, 0, ..., 0, 0, 0]), array([0, 0, 0, ..., 1, 0, 0]))

*11. Model Evaluation*

In [50]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(y_test_class, y_pred1_class))
print(classification_report(y_test_class, y_pred1_class))
print(accuracy_score(y_test_class, y_pred1_class))

[[1980    0]
 [ 520    0]]
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1980
           1       0.00      0.00      0.00       520

    accuracy                           0.79      2500
   macro avg       0.40      0.50      0.44      2500
weighted avg       0.63      0.79      0.70      2500

0.792

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))